@font-face {
    font-family: 'IBM Plex Serif';
    src: url('/font/IBMPlexSerif-Light.ttf') format('truetype')
    font-weight: 300;
    font-style: normal;
}

div {
  box-sizing: border-box;
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
